@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject ILoggedInUserModel loggedInUser
@inject IAPIHelper apiHelper
@inject NavigationManager navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4 fixed-top">
        <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="(() => Logout())">Logout</a>
            </Authorized>
            <NotAuthorized>
                @if (navigationManager.Uri == "https://localhost:44314/revieworder")
                {
                    <a href="/login/1">Login</a>
                }
                else
                {
                    <a href="/login">Login</a>
                }
            </NotAuthorized>
        </AuthorizeView>
    </div>*@
    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)authenticationStateProvider)
            .MarkUserAsLoggedOut();
        loggedInUser.ResetUserModel();
        apiHelper.LogOffUser();
    }
}