
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Uh Oh! Something went wrong!</h1>
                <p>This is not the page you are looking for</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
